global
    maxconn 4096
    log stdout local0
    tune.bufsize 32768

defaults
    mode http
    timeout connect 10000
    timeout client 300000
    timeout server 300000
    log global
    option httplog
    option forwardfor
    retries 0

frontend http_front
    bind *:80
    default_backend backend_servers
    
    # Preserve request body for POST requests
    option http-server-close
    
backend backend_servers
    balance roundrobin
    server backend backend:5000 check inter 5s rise 2 fall 3


