global
    maxconn 4096
    log stdout local0

defaults
    mode http
    timeout connect 5000
    timeout client 50000
    timeout server 50000
    log global
    option httplog

frontend http_front
    bind *:80
    default_backend backend_servers
    
    # Preserve original request
    option forwardfor

backend backend_servers
    balance roundrobin
    server backend backend:5000 check
